/* styles.css */
.better-links-li {
    @apply py-2 no-underline text-sm hover:bg-slate-100 list-none focus:text-eksi-yesili text-inherit text-reddit-fontcolor
  }
  .better-links-ul {
    @apply text-base font-normal  text-lg list-none flex-auto px-0 overflow-y-auto h-custom_for_scrollbar text-inherit
  }

.pagination-buttons{
    @apply items-center justify-center h-8 text-sm font-light text-white rounded-lg
    border-none hover:bg-light-orange bg-light-orange
    text-gray-50 dark:hover:text-white max-w-xs transition duration-300 ease-in-out hover:shadow-lg hover:shadow-orange
}

::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
      
::-webkit-scrollbar-track {
    background: #e8dfd6        /* color of the tracking area */
}
      
::-webkit-scrollbar-thumb {
    background-color:#626a12;    /* color of the scroll thumb */
    border-radius: 12px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
}